/* Variables */
:root {
  ---background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #4CAF50;
  --secondary-color: #f0f0f0;
  --input-background: #ffffff;
  --input-border: #cccccc;
  --hover-color: #e0e0e0;
  }


/* Global Styles */
body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Navbar Styles */


/* General Layout */
.tab-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height:auto;
  max-width: 800px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  background-color: var(--secondary-color);
}

.header {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}
    
/* Tab Navigation */
.tab-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 700px;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
  }

.tab {
  background-color: var(--secondary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  margin: 5px;
  padding: 12px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.tab.active {
  background-color: var(--primary-color);
}

.tab:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

/* Tab Content */
.tab-content-container {
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 2px 5px var(--shadow-color);
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

/* Conversion Form */
.conversion-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input-group label {
  font-size: 14px;
  color: var(--text-color);
}

input[type="number"],
input[type="text"],
select {
  padding: 12px;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background-color: var(--input-background);
  color: var(--text-color);
  font-size: 16px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="number"]:focus,
input[type="text"]:focus,
select:focus {
  border-color: var(--primary-color);
  outline: none;
  box-shadow: 0 0 3px var(--primary-color);
}

/* Conversion Button */
.convert-button {
  padding: 12px 25px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.convert-button:hover {
  background-color: var(--hover-color);
  transform: scale(1.05);
}


/* Container Styling */
#conversion-result {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid var(--input-border);
  border-radius: 8px;
  background-color: var(--secondary-color);
  color: var(--text-color);
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  box-shadow: 0 2px 5px var(--shadow-color);
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Highlight Specific Parts */
.conversion-success {
  font-weight: bold;
  color: var(--primary-color);
}

.conversion-amount {
  font-weight: bold;
  font-size: 18px;
  color: var(--highlight-color);
}

.conversion-type, .conversion-result-currency {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--highlight-color);
}

.conversion-result-value {
  font-size: 18px;
  color: var(--highlight-color);
  font-weight: bold;
}

/* Hover Effects */
.conversion-result:hover {
  background-color: var(--hover-color);
  color: #fff;
  box-shadow: 0 4px 10px var(--shadow-color);
}

#convert-button.loading {
  background-color: var(--primary-color);
  color: #fff;
  cursor: not-allowed;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(.8);
    opacity: 0.7;
  }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.watchlist-container {
  margin-top: 30px;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 2px 5px var(--shadow-color);
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* Add Crypto Container */
.add-crypto-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.search-group {
  position: relative;
  width: 100%;
}

#crypto-input {
  width: 100%;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  padding: 12px 50px 12px 20px;
  background-color: var(--input-background);
  color: var(--text-color);
  line-height: 1.5;
  box-sizing: border-box;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#crypto-input:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 5px var(--primary-color);
  outline: none;
}

/* Add Button */
#add-crypto-button {
  position: absolute;
  right: 5px;
  top: 5px;
  bottom: 5px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 14px;
}

#add-crypto-button:hover {
  background-color: var(--hover-color);
  transform: translateY(-2px);
}

/* Suggestions Dropdown */
.suggestions {
  position: absolute;
  background: var(--secondary-color);
  border: 1px solid var(--input-border);
  border-radius: 4px;
  max-height: 200px;
  margin-top: 40px;
  overflow-y: auto;
  z-index: 1000;
  width: auto;
  display: none;
}
.suggestion-item {
  padding: 12px;
  font-weight: 500;
  cursor: pointer;
  
  transition: background-color 0.2s ease, color 0.2s ease;
}

.suggestion-item:hover {
  background-color: var(--hover-color);
  color: #fff;
}

/* Crypto List */
#crypto-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
 
 
}

#crypto-list li {
  background-color: var(--input-background);
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 300px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#crypto-list li:hover {
  background-color: var(--hover-color);
  box-shadow: 0 2px 5px var(--shadow-color);
}

/* Delete Button */
.delete-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--secondary-color);
  background-color: var(--input-border);
  width: 30px;
  height: 30px;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.delete-btn:hover {
  color: var(--hover-color);
  background-color: var(--primary-color);
}

/* Mobile Responsiveness */
@media (max-width: 768px) {
  .watchlist-container {
    padding: 15px;
  }

  .add-crypto-container {
    gap: 5px;
  }

  #add-crypto-button {
    padding: 10px 25px;
    font-size: 12px;
  }

  #crypto-list li {
    flex-direction: column;
    gap: 10px;
  }

  .delete-btn {
    width: 25px;
    height: 25px;
    font-size: 14px;
  }
}


/* Crypto Icon */
.crypto-icon {
  width: 30px;
  height: 30px;
  font-size: 14px;
  
  
}

.crypto-info {
  
  display: flex;
  align-items: center;
  flex: 1;
}

.crypto-name {
  font-weight: 500;
  margin-right: 20px;
}

.price {
  font-size: 1rem;
  color: #333;
}

.change {
   font-size: .9rem;
  font-weight: 500;
  margin-left: 10px;
}

.change.negative {
 
  color: red;
}

.change.positive {
  color: green;
}




h1, h2, h3, h4, h5, h6 {
  font-size: calc(1rem + 1vw);
  margin: 0;
  text-align: center;
}

p {
  font-size: calc(.9rem + 0.2vw);
  line-height: 1.5;
}

